@{
    Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Are you sure you want to delete this?</h2>

<p>Patron Name: @Html.DisplayFor(model => model.PatronName)</p>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("Back to Patrons", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>