@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Patron>;

<h1>Patrons</h1>

@if (@Model.Count == 0)
{
  <h3>No models have been added yet!</h3>
}

@foreach (Patron patron in Model)
{
  <li>@Html.ActionLink($"{patron.PatronName}", "Details", new { id = patron.PatronId })</li>
}

<p>@Html.ActionLink("Add new patron", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>