@{
    Layout = "_Layout";
}

@using Library.Models;
@using System.Security.Claims
@model IEnumerable<Library.Models.Book>

<h2>Books</h2>
<hr>
@if (Model.Any())
{
    <ul>
    @foreach (Book book in Model)
    {
        <li>@Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId})</li>
    }
    </ul>
}
else
{
    <h3>There are no books in this library</h3>
}

<p>@Html.ActionLink("Add a New Book to a New Author","Create", "Authors")
<p>@Html.ActionLink("Add a New Book to an Existing Author", "Create")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>

