@{
    Layout = "_Layout";
}

<h1>Welcome to the Public Library</h1>
<p>@Html.ActionLink("View Books", "Index", "Books")</p>
<p>@Html.ActionLink("View Patrons", "Index", "Patrons")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Login to account", "Login", "Account")</p>