@{
    Layout = "_Layout";
}

@using Library.Models;
@using System.Security.Claims
@model IEnumerable<Library.Models.Author>

<h2>Authors</h2>
<hr>
@if (Model.Any())
{
    <ul>
    @foreach (Author author in Model)
    {
        <li>@Html.ActionLink($"{author.AuthorName}", "Details", new { id = author.AuthorId})</li>
    }
    </ul>
}
else
{
    <h3>There are no authors in this library.. yet</h3>
}

<p>@Html.ActionLink("Add a Title to Existing Author", "Create", "Books")</p> @* CreateBookFromAuthor route to reroute to add an author page when complete *@
<p>@Html.ActionLink("Add a New Author", "Create")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>